@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    background-color: rgb(0, 10, 104);
    background-image: url("images/img.png");
    
    background-size: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

h1{
    font-size: 80px;
    font-family: 'Sriracha', cursive;
    font-weight: 400;
    margin: 0px auto;
}

nav ul{
    padding-left: 0;
    margin-top: 0;
    overflow: hidden;
    animation: 4s anim-lineUp ease-out;
}

.list{
    display: inline-block;
    font-size: 25px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    padding: 0px 20px;
}

.list-href {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 100px auto 0 auto;
    
}

.learnMore {
    
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0);
    color: rgb(52, 52, 102);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 13px 35px;
    /* animation: 18s anim-lineUp ease-out; */
}

.learnMore:hover {
    border-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
    background-color: rgba(52, 52, 102, 0.911);;
}
  
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/******************* WAVES **********************/
  
.waves {
    
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
  
.content {
    
    position:relative;
    height:20vh;
    text-align:center;
    background-color: rgb(12, 65, 145);
}
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
}

/********************** WELCOME TO SRI LANKA ***********************************/
.waviy {
    margin-top: 20px;
    letter-spacing: -1px;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 50px;
    animation: 4s anim-lineUp ease-out;
}

.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    animation: waviy 10s ;
    animation-delay: calc(.1s * var(--i));
    
}
  
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}
  
/*********************** TRAVEL & ENJOY YOUR LIFE *************/
  
h4 {
    color: rgb(255, 255, 255);
    font-family: "Montserrat Medium";
    font-weight: bold;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 15s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
  
@keyframes scale {
    100% {
      transform: scale(1);
    }
}
  
h4 span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
  
h4 span:nth-child(1) {
    animation: fade-in 2s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
h4 span:nth-child(2) {
    animation: fade-in 2s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
h4 span:nth-child(3) {
    animation: fade-in 2s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
h4 span:nth-child(4) {
    animation: fade-in 2s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
h4 span:nth-child(5) {
    animation: fade-in 2s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
h4 span:nth-child(6) {
    animation: fade-in 2s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
h4 span:nth-child(7) {
    animation: fade-in 2s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

/*************************** NAVBAR **********************/

.lineUp {
    animation: 4s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}


/************************************************************ MIDDLE  1st TABLE  **********************************************/

.middle {
    background-color: white;
    text-align: center;
}

.middle table {
    margin: 10% 15%;
    table-layout: auto;
    
}

.invite {
    color: #223ac2;
    font-size: 37px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
    width: 700px;
    text-align: left;
}

.invite-right {
    color: rgb(87, 86, 86);
    font-family: "Montserrat Medium";
    font-size: 25px;
    font-weight: 500;
    padding-top: 100px;
    text-align: left;
    width: 600px;
}

/********************** 2nd TABLE ******************************/

.first-table table {
    margin-bottom: 0px;
}

.second-table table {
    margin-top: 40px;
}

.second-table table tr td {
    color: #223ac2;
    font-family: "Montserrat Medium";
    padding:25px;
    text-align: justify;
}

/**************************** THIRD PAGE ************************/

.third-page video{
    width: 100%;
    margin-bottom: 100px;
    border-color: black;
}

/***************************** FORTH PAGE **********************/

.fourth-page table {
    margin: auto 15% 5% 15%;
}

.facilities{
    color: #223ac2;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    text-align: left;
    margin-bottom: 20px;
}

.adventuer{
    color: rgb(87, 86, 86);
    font-family: "Montserrat Medium";
    font-size: 25px;
    font-weight: 500;
    margin-left: 10%;
    text-align: left;
}

/******** image travel plan *****************/

.container {
    position: relative;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    width:450px; 
    height: 500px;
    top: 0;
    opacity: 0;
    transition: 1s ease;
    background-color: #031683;
}

.overlay:hover {
    transform: scale(1.05);
}
  
.container:hover .overlay {
    opacity: 0.8;
}
  
.text {
    color: white;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.adven {
    margin-left: 10%;
}

/************************* BOOKING **********************/

.bokking form{
    background-color: rgb(226, 226, 226);
    position: absolute;
    padding: 5%;
    left: 50%;
    margin-top: 300px;
    transform: translate(-50%,-50%);
}

.bokking h2{
    color: #223ac2;
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 200;
    letter-spacing: 2px;
}

.country {
    border: 1px solid rgb(192, 191, 191);
    box-shadow: 0 0 10px rgb(192, 191, 191);
    border-radius: 10px;
    font-family: "Montserrat Medium";
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 5px;
    position: absolute;
    left: 9.2%;
    width: 80%;
}

.country:hover{
    border: 1px solid #223ac2;
    box-shadow: 0 0 10px #223ac2;
}

.checkinlable, .checkoutlable{
    color: #223ac2;
    font-family: "Montserrat Medium";
    font-weight: bold;
    font-size: 20px;
}

.checkindate, .checkoutdate{
    border: 1px solid rgb(192, 191, 191);
    box-shadow: 0 0 10px rgb(192, 191, 191);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px; 
    font-family: "Montserrat Medium";
    margin-bottom: 20px;
    padding: 10px 81px;
}

.checkindate:hover, .checkoutdate:hover {
    border: 1px solid #223ac2;
    box-shadow: 0 0 10px #223ac2;
}

.rooms, .adults, .children{
    border: 1px solid rgb(192, 191, 191);
    box-shadow: 0 0 10px rgb(192, 191, 191);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px; 
    font-family: "Montserrat Medium";
    margin-bottom: 20px;
    padding: 10px 42px;
}

.rooms:hover, .adults:hover, .children:hover{
    border: 1px solid #223ac2;
    box-shadow: 0 0 10px #223ac2;
}

.mail, .phone{
    border: 1px solid rgb(192, 191, 191);
    box-shadow: 0 0 10px rgb(192, 191, 191);
    border-radius: 10px;
    font-size: 20px; 
    font-family: "Montserrat Medium";
    margin-bottom: 20px;
    padding: 10px 68px 10px 5px;
}

.mail:hover, .phone:hover{
    border: 1px solid #223ac2;
    box-shadow: 0 0 10px #223ac2;
}

.bookbtn{
    border: 1px solid rgb(192, 191, 191);
    box-shadow: 0 0 10px rgb(192, 191, 191);
    background-color: white;
    border-radius: 10px;
    color: #223ac2;
    cursor: pointer;
    font-size: 20px; 
    font-family: "Montserrat Medium";
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.bookbtn:hover{
    border: 1px solid white;
    color: white;
    background-color: #223ac2;
}

/********************** FOOTER **************************/

footer {
    background-color: rgb(226, 226, 226);
}

.foot {
    margin: 675px 5% 00px 5%;
    padding: 4%;
    width: 90%;
}

.col1 {
    text-align: left;
    /* padding-right: 40px; */
}

.foot h4{
    color:black; 
    font-family: 'Sriracha', cursive; 
    font-weight: 400;
    text-align: left;
    margin-top: 0;
}

.foot p {
    color: rgb(87, 86, 86);
    font-family: "Montserrat Medium";
    font-size: 18px;
    margin: 5px;
}

.col2, .col3, .col4 {
    color: rgb(87, 86, 86);
    font-family: "Montserrat Medium";
    text-align: left;
    /* padding-right: 30px; */
}
















